// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.info {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: 700;
}